.footer-contacts:not(:last-child) {
  margin-bottom: 9px;

  .footer-contacts__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
    transition: color var(--transition-duration) var(--timing-animation);
  }

  &__link:hover,
  &__link:focus {
    color: var(--focus-color);
  }
  .footer-contacts__link--map {
    color: var(--secondary-header-color);
    transition: color var(--transition-duration) var(--timing-animation);
  }

  &__link--map:focus,
  &__link--map:hover {
    color: var(--focus-color);
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
}
